<suite name="Suite1" verbose="1" >

    <test name="Regression1"   >
        <parameter name="browser" value="firefox" /> // example of sending a parameter
        <packages>
            <package name="com.automation.pom.tests" />
        </packages>
    </test>

<!--    <test name="Firefox"   >-->
<!--        <parameter name="browser" value="firefox" />-->
<!--        <packages>-->
<!--            <package name="com.automation.pom.tests" />-->
<!--        </packages>-->
<!--    </test>-->

</suite>
