<suite name="Suite1" verbose="1" parallel="methods">

    <test name="Regression1" parallel="methods">
        <parameter name="browser" value="chrome"/>
        <packages>
            <package name="com.automation.pom.tests"/>
        </packages>
    </test>

<!--    <test name="Firefox" parallel="methods">-->
<!--        <parameter name="browser" value="firefox"/>-->
<!--        <packages>-->
<!--            <package name="com.automation.pom.tests"/>-->
<!--        </packages>-->
<!--    </test>-->

</suite>
